.grid {
  display: grid;
  grid-template-areas: ". s1 s1 s1 s1 ." ". s2 . . s3 ." " . s4 s4 s4 s4 ." ". s5 . . s6 ." ". s7 s7 s7 s7 .";
  background-color: black;
  padding: 20px 10px;
  padding-bottom: 5px;
  margin: 8px;
}

@media screen and (max-width: 600px) {
  div.grid {
    width: 50px;
    height: 75px;
  }
}
@media screen and (min-width: 600px) {
  div.grid {
    width: 80px;
    height: 120px;
  }
}
